<ion-view view-title="Pick Your Crate">
  <ion-content class="padding" id="pick-your-crate">
    <div class="row">
      
    </div>
    <div class="row">
      <a href="#/tab/account"><div class="col loot-anime"></div></a>
      <a href="#/tab/account"><div class="col loot-gaming"></div></a>
    </div>
    <div class="row">
      <a href="#/tab/account"><div class="col loot-pets"></div></a>
      <a href="#/tab/account"><div class="col loot-lu"></div></a>
    </div>
  </ion-content>
</ion-view>
