<ion-view view-title="Plans &amp; Pricing">
  <ion-content id="plans" scroll="false">
    <div class="card">
      <div class="item item-thumbnail-left">
      <img src="../img/hackathon-assets/plan-one-month.png">
        <h2>1 Month Plan</h2>
        <h4><strong>$13.<sup>95</sup></strong> per month + $6 S/H</h4>
        <h5>Total Price: $19.95</h5>
        <a href="#" class="btn">SELECT</a>
      </div>
    </div>
    <div class="card">
      <div class="item item-thumbnail-left">
      <img src="../img/hackathon-assets/plan-three-month.png">
        <h2>3 Month Plan</h2>
        <h4><strong>$13.<sup>25</sup></strong> per month + $6 S/H</h4>
        <h5>Total Price: $57.75</h5>
        <a href="#" class="btn">SELECT</a>
      </div>
    </div>
    <div class="card">
      <div class="item item-thumbnail-left">
      <img src="../img/hackathon-assets/plan-six-month.png">
        <h2>6 Month Plan</h2>
        <h4><strong>$12.<sup>95</sup></strong> per month + $6 S/H</h4>
        <h5>Total Price: $113.70</h5>
        <a href="#" class="btn">SELECT</a>
      </div>
    </div>
    <div class="card">
      <div class="item item-thumbnail-left">
      <img src="../img/hackathon-assets/plan-twelve-month.png">
        <h2>12 Month Plan</h2>
        <h4><strong>$11.<sup>95</sup></strong> per month + $6 S/H</h4>
        <h5>Total Price: $215.40</h5>
        <a href="#" class="btn">SELECT</a>
        <h3>+ FREE T-SHIRT</h4>
      </div>
    </div>
  </ion-content>
</ion-view>
