<ion-view view-title="Pick Your Crate">
  <ion-content class="padding" id="pick-your-crate" scroll="false">
    <div class="row">
      <div class="col">
        <a href="#"></a>
      </div>
      <div class="col">
        <a href="#"></a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="#"></a>
      </div>
      <div class="col">
        <a href="#"></a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="#"></a>
      </div>
      <div class="col">
        <a href="#"></a>
      </div>
    </div>
  </ion-content>
</ion-view>
