<ion-view view-title="Game Stats">
  <ion-content class="padding" id="game-stats" delegate-handle="$ionicScrollDelegate" scroll="true" overflow-scroll="true">
  <!-- list card -->
    <div class="list card looter-badge">
      <div class="item item-thumbnail-left looter-avatar">
        <img src="img/hackathon-assets/stan-lee.png">
        <h2>Stan Lee</h2>
        <p>MEMBER#: 415110</p>
        <p><strong><span class="ion-ios-information-outline"></span>Account Status: </strong> ACTIVE</p>
        <p><strong><span class="ion-clock"></span>Looter Since:</strong> 29 Jan. 2016</p>
        <p><strong><span class="ion-ios-location"></span> Los Angeles, CA</strong></p>
      </div>
    </div>
  <!-- end list card -->
    <div class="game-stats-bar">
      <progress max="100" value="50"></progress>
    </div>
    <div class="ticket-box">
      <img src="img/hackathon-assets/ticketbox.png">
    </div>
    <div class="card rewards">
      <div class="item item-text-wrap">
        Rewards History
      </div>
      <a href="#">
        <div class="item anime-sub"></div>        
      </a>
      <a href="#">
        <div class="item loot-sub"></div>        
      </a>
      <a href="#">
        <div class="item lu-sub"></div>        
      </a>




    </div>
  </ion-content>
</ion-view>