$orange: #ff5f00;
$gold:   #ffea87;
$gray-game: #4f4f4f;
$background-color: rgba(214,214,214,1);
$black: #222;
$white: #ffffff;


#game-stats {
  background-color: $background-color;
  .looter-badge {
    position: relative;
    z-index: 0;
    padding-bottom: 20px;
    background-color: $gold;
    .looter-avatar {
      border: 1px solid $orange;
      background: url('../img/hackathon-assets/bg-gold.png') no-repeat center;
    }
    h2 {
      font-weight: 600;
      font-size: 24px;
      margin: 0;
    }
    p {
      font-size: 10px;
      color: $black;
      margin: 0;
      line-height: 1.2;
    }
    span {
      padding-right: 5px;
    }
  }
  .ticket-box {
    position: relative;
    top: -225px;
    right: -280px;
    width: 45%;
    z-index: 2;
    img {
      width: 42%;
      position: absolute; 
    }
  }
  .game-stats-bar {
    background: url('../img/hackathon-assets/XpBar_Grey2.png') no-repeat center center;
    background-size: contain;
    position: relative;
    padding: 25px 25px 25px 0;
    top: -85px;
    left: 5px;
    z-index: 10;
    width: 75%;
    progress[value] {
      /* Reset the default appearance */
      padding-left: 3px;
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 10px;
    }
    progress[value]::-webkit-progress-bar {
      // background-color: rgba(0,0,0,0);
      background-color: #4B4A4A;
      // border-radius: 10px;
      border-radius: 25px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
    progress[value]::-webkit-progress-value {
      background-color: $orange;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #f44, $orange, yellow);
      @-webkit-keyframes animate-stripes {
         100% { background-position: -100px 0px; }
      }
      @keyframes animate-stripes {
         100% { background-position: -100px 0px; }
      }
      -webkit-animation: animate-stripes 5s linear infinite;
      animation: animate-stripes 5s linear infinite;
    }  
  }
  .rewards {
    position: relative;
    top: -120px;
    z-index: 1;

    .item {
      background-color: $gold;
      height: 89px;
      &.anime-sub {
        background: url('../img/hackathon-assets/anime-sub.png') no-repeat;
        background-size: contain;
      }
      &.loot-sub {
        background: url('../img/hackathon-assets/loot-sub.png') no-repeat;
        background-size: contain;
      }
      &.lu-sub {
        background: url('../img/hackathon-assets/lu-sub.png') no-repeat;
        background-size: contain;
      }
    }
    .item-text-wrap {
      height: 60px;
    }
  }
  .lift-promotion {
    position: relative;
    top: -150px;
    z-index: 0;
  }
  .promotion {
    height: 290px;
    background: url('../img/hackathon-assets/promo_gaming.jpg') no-repeat top center;
    background-size: cover;
  }


}

#pick-your-crate {
  .row {
    border: 1px solid $black;
    height: 33%;
  }
  .col {
    height: 100%;
    border: 1px solid $black;
  }
}

#plans {
  background-color: $background-color;
  .card {
    padding-top: 10px;
    height: 20%;
    h3 {
      color: $orange;
      font-weight: 600;
    }
  }
  .btn {
    float: right;
    padding: 10px 8px;
    text-decoration: none;
    background-color: $orange;
    color: $white;
    position: relative;
    top: -40px;
    left: 5px;
    border: 2px solid $orange;
  }
  .btn:active {
    color: $orange;
    background-color: $white;
    border: 2px solid $orange;
  }
}

.scroll {
  height: 100%;
}

